    <!-- JQuery Start-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- JQuery End -->

    <!-- Javascript Start-->
        <script src="script.js"></script>
    <!-- Javascript End -->
    </body>
</html>