<!DOCTYPE html>
<html>
	<head>
		<!-- Font Awesome Start-->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Font Awesome End -->

		<!-- Google Fonts Start-->
    		<link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Oswald&display=swap" rel="stylesheet">
		<!-- Google Fonts End -->

		<!-- CSS Start-->
    		<link rel="stylesheet" type="text/css" href="style.css">
		<!-- CSS End -->

		<title>Welcome!</title>
	</head>

	<body>
		<!-- NavBar Start -->
		<header>
			<div class="logo">
				<h1 class="logo-text"><span class=fir>USC</span>&nbsp;<span class="sec">Events </span><i class="fa fa-calendar"></i></h1>
			</div>
		</header>
		<!-- NavBar End -->